/* Error: Declarations may only be used within style rules.
 *    ,
 * 27 |     display: flex;
 *    |     ^^^^^^^^^^^^^
 *    '
 *   scss\_quienes-somos.scss 27:5  @content
 *   scss\_variables.scss 3:9       mobile()
 *   scss\_quienes-somos.scss 26:1  @import
 *   scss\style.scss 6:9            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Declarations may only be used within style rules.\a    \2577 \a 27 \2502      display: flex;\d\a    \2502      ^^^^^^^^^^^^^\a    \2575 \a   scss\\_quienes-somos.scss 27:5  @content\a   scss\\_variables.scss 3:9       mobile()\a   scss\\_quienes-somos.scss 26:1  @import\a   scss\\style.scss 6:9            root stylesheet";
}
