@include mobile {
    .main-container {
        margin: 5%;
        padding: 5%;
        font-size: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
}